<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>バンドリのバンド</title>
</head>
<body>
  <h2>バンドリのバンド名</h2>
  <table>
    <thead>
        <tr><th>ID</th><th>バンドコード</th><th>バンド名</th></tr>
    </thead>
    <tbody>
        <% for( let row of data ) { %>
            <tr><td><%= row.id %></td>
            <td><%= row.code %></td>
            <td><%= row.name %></td></tr>
        <% } %>
    </tbody>
    
    </table>
</body>
</html>